<div class="schedule" >
  {% for key,education in group %}
    <fieldset class="{{education.alias}} form_education form-wrapper">
      <legend>
        <span class="fieldset-legend"> {{education.title}} </span>
      </legend>
      <div class="fieldset-wrapper">
          {% for type in education.info %}
              <fieldset class="group-type form-wrapper">
                <legend>
                  <span class="fieldset-legend">{{ type.title }}</span>
                </legend>
                <div class="fieldset-wrapper">
                  {% for  course in type.info %}
                    <legend><span class="fieldset-legend">{{ course.name }} курс:</span></legend>
                    <div class="fieldset-wrapper">
                      {% for group in course.group %}
                        <a href="/schedule/{{ faculty }}/{{education.alias}}/{{ group }}">{{ group }}</a>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              </fieldset>
          {% endfor %}
      </div>
    </fieldset>
  {% endfor %}
</div>
